@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        font-size: 1rem;
    }
    body {
        @apply text-left;
        @apply m-0;
        @apply bg-white;
        @apply text-gray-800;
        font-size: 1rem;

    }
    h2 {
        @apply text-2xl;
        @apply font-bold;
        margin-block-start: 0.83rem;
        margin-block-end: 0.83rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

    }
    h3 {
        @apply font-bold;
    }
    h4 {
        @apply text-base;
        @apply font-bold;
        @apply italic;
        @apply ml-2
    }}

@layer components {
    .border-stripes {
        border-image: repeating-linear-gradient(45deg, transparent, transparent 3px, theme('colors.blue.200') 4px, theme('colors.blue.200') 8px, transparent 9px, transparent 12px) 7.5/0.5rem;
    }
}

@layer utilities {

    .whitespace-normaller {
        white-space: normal !important;
    }

    .whitespace-nowrapper {
        white-space: nowrap !important;
    }
}
